body {
  padding-top: 50px;
  font-family: muli, sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.6;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
